main {
    width: 100%;
    min-height: 2000px;
    border: 1px solid black;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        color: rgb(53, 53, 53);
        font-size: 30px;
        font-weight: normal;
        line-height: 40px;
    } 
    h4 {
        color: rgb(53, 53, 53);
        font-size: 25px;
        font-weight: normal;
        line-height: 40px;
    }

    .moreAbout {
        height: 40px;
        width: 100%;

        a {
            text-decoration: none;
            color: green;                               
        }
    }

    .container {
        height: 4000px;
        width: 70%;

        .slider {
            width: 100%;
            height: 504px;
            background-color: aquamarine;
        }
        
        @media (min-width: 963px) {
            .businessSuggest {
                height: 500px;
                width: 100%;
              
                .infoAboutSuggest {
                    height: 96px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                
                }
                .suggests {
                    height: 320px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
    
                   
                    .suggestBoxes {
                        height: 296px;
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        
                        p {
                         color: rgb(53, 53, 53);
                         font-size: 20px;
                         font-weight: 600;
                         line-height: 24px;
                         letter-spacing: .15px;
                        }
                        .iconOfSuggest {
                            height: 40px;
                            width: 100%;
                            display: flex;
                            align-items: center;
    
    
                        }
    
                        .informations {
                            height: 76px;
                            width: 100%;
                            margin-bottom: 100px;
                            margin-left: -10px;
    
                            ul {
                                margin-bottom: 200px;
                                li {
                                    list-style-image: url('/assets/icon/done_green.svg');
                                    color: rgba(0,0,0,.6);
                                    font-weight: 500;
                                    font-size: 20px;
                                    line-height: 20px;
                                    letter-spacing: .25px;
                                    margin-bottom: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 963px) {
            .businessSuggest {
                height: 500px;
                width: 100%;
    
              
                .infoAboutSuggest {
                    height: 96px;
                    width: 100%;
                    display: flex;
                    align-items: center;
    
    
                    h3 {
                        color: rgb(53, 53, 53);
                        font-size: 18px;
                        font-weight: normal;
                        line-height: 30px;
                    }             
                }
                .suggests {
                    height: 320px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
    
                   
                    .suggestBoxes {
                        height: 296px;
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        
                        p {
                         color: rgb(53, 53, 53);
                         font-size: 15px;
                         font-weight: 600;
                         line-height: 20px;
                         letter-spacing: .15px;
                        }
                        .iconOfSuggest {
                            height: 30px;
                            width: 100%;
                            display: flex;
                            align-items: center;
    
    
                        }
    
                        .informations {
                            height: 56px;
                            width: 100%;
                            margin-bottom: 100px;
                            margin-left: -10px;
    
                            ul {
                                margin-bottom: 200px;
                                li {
                                    list-style-image: url('/assets/icon/done_green.svg');
                                    color: rgba(0,0,0,.6);
                                    font-weight: 500;
                                    font-size: 12px;
                                    line-height: 12px;
                                    letter-spacing: .15px;
                                   
                                }
                            }
                        }
    
                        .moreAbout {
                            height: 15px;
                            width: 100%;
    
                            a {
                                text-decoration: none;
                                color: green;
                                width: 100%;

                                span {
                                    font-size: 12px;
                                }
                               
                            }
                        }
                    }
                }
            }
        }

        .productOfBusiness {
            min-height: 800px;
            width: 100%;

            .infoAboutSection {
                height: 200px;
                width: 100%;

                h3 {
                    font-size: 32px;
                    line-height: 48px;
                    letter-spacing: .25px;
                    display: block;
                }
            }
            @media (max-width: 963px) {
                .infoAboutSection {
                    height: 200px;
                    width: 100%;
    
                    h3 {
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: .25px;
                        display: block;
                        margin-top: 60px;
                    }
                }
            }
            .products {
                min-height: 700px;
                width: 100%;

                @media (max-width: 963px) {
                    
                    .topBoxes {
                        min-height: 300px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
    
                        a {
                            height: 200px;
                            width: 75%;
                            text-decoration: none;
                            color: inherit;
                            display: flex;
                            justify-content: center;
    
                            .posTerm {
                                background-color: #e7f4f9;
                            }
                            .businessCard {
                                background-color: #ffebf0;
                            }
                            .boxesT {
        
                                height: 200px;
                                width: 100%;
                                border-radius: 8px;                          
        
                                .info{
                                    height: 40px;
                                    width: 100%;
                                    h4 {
                                        font-size: 12px;
                                        font-weight: 100;
                                        line-height: 10px;
                                        display: block;
                                    }
            
                                }
                                .notice {
                                    height: 100px;
                                    width: 100%;
    
                                    p {
                                        font-weight: 500;
                                        font-size: 11px;
                                        line-height: 15px;
                                        letter-spacing: .5px;
                                        color: rgba(0,0,0,.6);
                                        display: block;
                                    }
                                }
                                .moreAbout {
                                    height: 25px;
                                    width: 100%;

                                    span{
                                        letter-spacing: .1px;
                                        font-size: 14px;
                                        line-height: 24px;
                                        letter-spacing: .1px;
                                        font-weight: 600;
                                        color: green;
                                    }
                                }
                            }
    
                        }
                    }
                    .bottomBoxes {
                        min-height: 400px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        .boxesB:hover {                           
                            // box-shadow: 0 5px 5px gray;                           
                        }
    
                        a {
                            height: 200px;
                            width: 75%;
                            text-decoration: none;
                            color: inherit;
                            display: flex;
                            justify-content: center;
    
                            .financing {
                                background-color: #e7f4f9;
                            }
                            .e-commerce {
                                background-color: #ffebf0;
    
                            }
                            .bankGuarantee {
                                background-color: #e7f4f9;   
                            }
    
                            .boxesB {
                                height: 200px;
                                width: 100%;
                                border-radius: 8px;
    
                                .info{
                                    height: 40px;
                                    width: 100%;
                                    h4 {
                                        font-size: 12px;
                                        font-weight: 100;
                                        line-height: 10px;
                                        display: block;
                                    }
            
                                }
                                .notice {
                                    height: 100px;
                                    width: 100%;
    
                                    p {
                                        font-weight: 500;
                                        font-size: 11px;
                                        line-height: 15px;
                                        letter-spacing: .5px;
                                        color: rgba(0,0,0,.6);
                                        display: block;
                                    }
                                }
                                .moreAbout {
                                    height: 25px;
                                    width: 100%;

                                    span{
                                        letter-spacing: .1px;
                                        font-size: 14px;
                                        line-height: 24px;
                                        letter-spacing: .1px;
                                        font-weight: 600;
                                        color: green;
                                    }
                                }
                            }
                        }
                    }
                }

                @media (min-width: 963px) {
                    .topBoxes {
                        height: 300px;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
    
                        a {
                            height: 280px;
                            width: 45%;
                            text-decoration: none;
                            color: inherit;
    
                            .posTerm {
                                background-color: #e7f4f9;
                                background-image: url(/assets/img/pos-terminal.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: bottom;
                            }
                            .businessCard {
                                background-color: #ffebf0;
                                background-image: url(/assets/img/business-cards.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: right;
                            }
                            .boxesT:hover {                           
                                box-shadow: 0 5px 5px 0 gray;                           
                            }
                            .boxesT {
        
                                height: 280px;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                border-radius: 8px;                            
        
                                .info{
                                    height: 120px;
                                    width: 100%;
                                    h4 {
                                        font-size: 24px;
                                        font-weight: 500;
                                        line-height: 32px;
                                        display: block;
                                        margin-block-start: 1.67em;
                                        margin-block-end: 1.67em;
                                        margin-inline-start: 0px;
                                        margin-inline-end: 0px;
                                    }
            
                                }
                                .notice {
                                    height: 120px;
                                    width: 100%;
    
                                    p {
                                        font-weight: 500;
                                        font-size: 15px;
                                        line-height: 24px;
                                        letter-spacing: .5px;
                                        color: rgba(0,0,0,.6);
                                        display: block;
                                        margin-block-start: 1em;
                                        margin-block-end: 1em;
                                        margin-inline-start: 0px;
                                        margin-inline-end: 0px;
                                    }
                                }
                                .moreAbout {
                                    height: 30px;
                                    width: 100%;
    
                                    span{
                                        letter-spacing: .1px;
                                        font-size: 14px;
                                        line-height: 24px;
                                        letter-spacing: .1px;
                                        font-weight: 600;
                                        color: green;
                                    }
                                }
                        }
    
                        }
                    }
                    .bottomBoxes {
                        height: 400px;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .boxesB:hover {                           
                            box-shadow: 0 5px 5px gray;                           
                        }
    
                        a {
                            height: 280px;
                            width: 30%;
                            text-decoration: none;
                            color: inherit;
    
                            .financing {
                                background-color: #ffebf0;
                                background-image: url(/assets/img/factoring.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: right;
                            }
                            .e-commerce {
                                background-color: #ffebf0;
                                background-image: url(/assets/img/e-commerce.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: right;
    
                            }
                            .bankGuarantee {
                                background-color: #ffebf0;
                                background-image: url(/assets/img/bank-guarantee.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: right;
    
                            }
    
                            .boxesB {
                                height: 280px;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                border-radius: 8px;
    
                                .info{
                                    height: 50px;
                                    width: 100%;
                                    h4 {
                                        font-size: 24px;
                                        font-weight: 500;
                                        line-height: 32px;
                                        display: block;
                                        margin-block-start: 1.67em;
                                        margin-block-end: 1.67em;
                                        margin-inline-start: 0px;
                                        margin-inline-end: 0px;
                                    }
            
                                }
                                .notice {
                                    height: 120px;
                                    width: 100%;
    
                                    p {
                                        font-weight: 500;
                                        font-size: 15px;
                                        line-height: 24px;
                                        letter-spacing: .5px;
                                        color: rgba(0,0,0,.6);
                                        display: block;
                                        margin-block-start: 1em;
                                        margin-block-end: 1em;
                                        margin-inline-start: 0px;
                                        margin-inline-end: 0px;
                                    }
                                }
                                .moreAbout {
                                    height: 30px;
                                    width: 100%;
    
                                    span{
                                        letter-spacing: .1px;
                                        font-size: 14px;
                                        line-height: 24px;
                                        letter-spacing: .1px;
                                        font-weight: 600;
                                        color: green;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .infoBankApp {
            height: 600px;
            width: 100%;
            display: flex;
            flex-direction: row;
            
            .information {
                height: 600px;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .titleOfBoxes {
                    height: 80px;
                    width: 100%;

                    h3 {
                        line-height: 32px;
                        font-size: 25px;
                        color: black;
                    }
                }
                .boxes {
                    height: 150px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .title {
                        height: 40px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        h6 {
                            font-size: 17px;
                            font-weight: normal;
                            line-height: 10px;
                        }
                    }
                    .text {
                        height: 100px;
                        width: 100%;
                        p {
                            font-size: 14px;
                            font-weight: normal;
                            line-height: 20px;
                        }
                    }
                }
            }
            .appPagesImg {
                height: 100%;
                width: 50%;
                background-image: url(/assets/img/online-bank-pages.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right;
                min-height: 553px;
            }
        }

        .businessPackages {
            height: 834px;
            width: 100%;
            background-color: #edefed;

            .titlePackages {
                height: 136px;
                width: 100%;

                h3 {
                   display: inline-block;
                }
            }
            .packagesBox {
                height: 698px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .packages {
                    width: 32%;
                    height: 95%;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    border-radius: 5px;

                    .container {
                        height: 98%;
                        width: 95%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        

                        .titlePackage {
                            font-size: 25px;
                            font-weight: normal;
                            line-height: 20px;
                            margin: 10px 0;
                        }

                        img {
                            width: 100%;
                            margin: 10px 0;
                        }
                        .paymentSuggest {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: start;
                            height: 50px;
                            width: 80%;
                            h2 {
                                display: inline-flex;
                                font-size: 60px;
                                font-weight: 300;
                                line-height: 50px;
                                letter-spacing: -.5px;
                            }
                            img {
                                width: 18px;
                                margin-top: 20px;
                            }
                            p {
                                margin: 10px 0 0 2px;
                            }
                        }
                        h5 {
                            font-size: 14px;
                            line-height: 24px;
                            letter-spacing: .1px;
                            font-weight: 600;
                            color: rgba(0,0,0,.87);
                        }
                        .packageInfo {
                            min-height: 20%;
                            margin-bottom: 50px;
                            li {
                                list-style-image: url('/assets/icon/done_green.svg');
                                color: rgba(0,0,0,.6);
                                font-weight: 800;
                                font-size: 14px;
                                line-height: 10px;
                                letter-spacing: .25px;
                                margin-bottom: 16px;

                                span {
                                    color: #058d66;
                                }
                            }
                        }
                        a {
                            width: 70%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 5px;
                            text-decoration: none;
                            color: inherit;
                            .moreAbout {
                                height: 30px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 5px;
                                p {                                   
                                        color: #058d66;
                                }
                            }
                            .moreAbout:hover {
                                background-color: #edefed;
                            }
                            .createAccount {
                                height: 30px;
                                width: 100%;
                                background-color: #058d66;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 5px;
                                p {
                                    color: white;
                                }
                            }
                            .createAccount:hover {
                                background-color: #169773;
                            }
                        }
                    }
                }
            }
        }
    }
}