body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    header {
    height: 74px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

        .container {
            width: 95%;
            height: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .headerMobIcons {
                height: 30px;
            }
            .logo {
                width: 150px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
    
                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    img {
                        width: 70%;
                        height: 70%;                            
                    }
                }
            }           
            .menuForWeb {
                width: 690px;
                height: 90%;

                ul {   
                    width: 100%;               
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;                    
                    
                    @media (min-width: 1000px) {
                        li:hover {
                            border-bottom: 2px solid #058d66;

                            a {
                                text-decoration: none;
                                font-family: 'Roboto', sans-serif;
                                color: black;
                                
                            }
                        }
                        li {
                            list-style-type: none;
                            font-size: 14px;
                            line-height: 24px;
                            letter-spacing: .1px;
                            font-weight: 400;
                            display: flex;
                            justify-content: center;
                           
                            a {
                                text-decoration: none;
                                font-family: 'Roboto', sans-serif;
                                color: rgba(0,0,0,.38);
                                
                            }
                        }
                    }
                    @media (max-width: 1000px) {
                        li:hover {
                            border-bottom: 1px solid #058d66;
                        }
                        li {
                            list-style-type: none;
                            font-size: 10px;
                            line-height: 24px;
                            letter-spacing: .1px;
                            font-weight: 400;
                            display: flex;
                            justify-content: center;
                           
                            a {
                                text-decoration: none;
                                font-family: 'Roboto', sans-serif;
                                color: rgba(0,0,0,.38);
                                
                            }
                        }
                    }
                }
            }
            .buttonOnlineBank{
                width: 52%;
                height: 90%;
                display: flex;
                justify-content: end;
                align-items: center;

                button:hover {
                    background-color: #169773;
                }

                button {
                    width: 128px;
                    height: 40px;
                    border-radius: 5px;
                    border: none;
                    background-color: #058d66;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            height: 24px;
                            width: 24px;
                            filter: brightness(0) invert(1);
                        }
                    }

                }
            }

            @media (max-width: 678px) {
                .menuForWeb {
                    display: none;
                }
                .buttonOnlineBank {
                    display: none;
                }

                .logo {
                    width: 100px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    a {
                        width: 100%;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            
                        }
                    }
                }
            }
            @media (min-width: 678px) {
                .headerMobIcons {
                    display: none;
                }
            }
        }
    }
}