body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body header {
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
}
body header .container {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body header .container .headerMobIcons {
  height: 30px;
}
body header .container .logo {
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .container .logo a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
body header .container .logo a img {
  width: 70%;
  height: 70%;
}
body header .container .menuForWeb {
  width: 690px;
  height: 90%;
}
body header .container .menuForWeb ul {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 1000px) {
  body header .container .menuForWeb ul li:hover {
    border-bottom: 2px solid #058d66;
  }
  body header .container .menuForWeb ul li:hover a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
  }
  body header .container .menuForWeb ul li {
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-weight: 400;
    display: flex;
    justify-content: center;
  }
  body header .container .menuForWeb ul li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.38);
  }
}
@media (max-width: 1000px) {
  body header .container .menuForWeb ul li:hover {
    border-bottom: 1px solid #058d66;
  }
  body header .container .menuForWeb ul li {
    list-style-type: none;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-weight: 400;
    display: flex;
    justify-content: center;
  }
  body header .container .menuForWeb ul li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.38);
  }
}
body header .container .buttonOnlineBank {
  width: 52%;
  height: 90%;
  display: flex;
  justify-content: end;
  align-items: center;
}
body header .container .buttonOnlineBank button:hover {
  background-color: #169773;
}
body header .container .buttonOnlineBank button {
  width: 128px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #058d66;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .container .buttonOnlineBank button a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .container .buttonOnlineBank button a img {
  height: 24px;
  width: 24px;
  filter: brightness(0) invert(1);
}
@media (max-width: 678px) {
  body header .container .menuForWeb {
    display: none;
  }
  body header .container .buttonOnlineBank {
    display: none;
  }
  body header .container .logo {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body header .container .logo a {
    width: 100%;
    height: 100%;
  }
  body header .container .logo a img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 678px) {
  body header .container .headerMobIcons {
    display: none;
  }
}/*# sourceMappingURL=styleOfHeader.css.map */